.btn {
  display: inline-block;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  text-align: center;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out;
  width: 100%;

  &:focus {
    border: none;
  }
}